<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password | RevHire</title>
    <th:block th:replace="~{fragments/layout :: head}"></th:block>
</head>
<body class="bg-light">
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <main class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card border-0 shadow-sm p-4">
                    <h2 class="h4 fw-bold mb-4 text-center">Change Password</h2>
                    
                    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

                    <form th:action="@{/auth/change-password}" method="post">
                        <div class="mb-3">
                            <label class="form-label">Current Password</label>
                            <input type="password" name="oldPassword" class="form-control" required>
                        </div>
                        <hr>
                        <div class="mb-3">
                            <label class="form-label">New Password</label>
                            <input type="password" name="newPassword" class="form-control" required>
                            <div class="form-text">Must be 8+ chars with upper, lower, number & special char.</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirm New Password</label>
                            <input type="password" name="confirmPassword" class="form-control" required>
                        </div>
						<button type="submit" id="submitBtn" class="btn btn-primary w-100">
						    <span id="btnText">Update & Logout</span>
						    <span id="btnSpinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
						</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
<script th:src="@{/js/auth/changePassword.js}"></script>
</html>